# Auto detect text files and perform LF normalization
* text=auto

# Ignore violet uml files as part of the language breakdown on GitHub
*.violet.html linguist-documentation

# Vendored
static/vendored/** linguist-vendored
