body {
  min-height: 100vh;
}

.problem-listing {
  width: 100%;
}

.problem-list {
  text-align: left;
}

.user.sidebar {
  max-width: 20%;
  display: inline-block;
}

.user.content-container {
  display: inline;
  width: 80%;
  margin-left: auto;
}

.settings-logo-wrapper {
  font-size: 3em;
  margin-left: auto;
}


.page-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.login {
  margin: auto;
}

.error{
	display: none;
	margin-left: 10px;
}

.error-show{
	color: red;
	margin-left: 10px;
}

.pagination-wrapper {
  margin-top: 2em;
  width: 100%;
}

.page-item.active .page-link {
  background-color: rgb(185, 196, 218);
  border-color: rgb(185, 196, 218);
}

.create-problem-container {
  padding: 20px;
}

.create-problem-container #description, .create-problem-container #editorial {
  height: 20em;
}

.problem-title {
  margin-bottom: 1em;
}

#latex {
  display: inline-block;
  min-width: 50%;
  max-width: 70%;
}

#submission-panel {
  display: inline-block;
  max-width: 30%;
  min-width: 15em;
}

.problem-container {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 3px;
}

.submit-solution #solution {
  height: 60vh;
}

.add-problem.description {
  display: flex;
  flex-direction: row;
  overflow: wrap;
}

#input-description {
  min-height: 20em;
  max-width: 47%;
  margin-right: 5%;
}

.create-testcase #details div {
  flex: 1;
}

.create-testcase textarea {
  min-height: 30em;
  max-height: 30em;
}

.create-testcase #details {
  display: flex;
}


#problem-viewing-latex-input {
  display: none;
}

.leaderboard {
  width: 100%;
}